body{
	background: #fff;
}
.auth-bg{
	display: flex;
	height: 100vh;
	width: 100%;
	background: #0747A6;
	overflow: hidden;
}
.auth-form{
	width: 400px;
}
.rounded-0{
	border-radius: 0px !important;
}

.nav a.active{
	border-bottom: 3px solid #0747A6;
}

.app-layout{
	display: flex;
	width: 100%;
    align-items: stretch;
    margin-top: 50px
}
.side-nav{
	width:250px;
	min-height: 100vh;
	background: #0747A6;
	color: #eee;
}
.side-nav a{
	color :#fff;
}
.side-nav a.active{
	border-bottom: 2px solid #fff !important;
}
.content{
	flex-grow: 1;
}
@media (max-width: 375px) {
	.auth-form{
		width: 300px;
	}
}